---
---

* {
	margin: 0;
}

body {
    background-color: #000;
	padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 12px;
	font-family: Balance-bold;
	background-color: black: #000;
}

.hidden {
	display: none;
}

@font-face{
    font-family: Balance-bold;
    src: url(fonts/BalanceOT-Bold.otf)
}

@font-face{
    font-family: Balance-light;
    src: url(fonts/BalanceOT-Light.otf)
}

.map {
  right: 0px;
  left: 0;
  height: 100%;
  position: absolute;
}

h1, h2 {
 font-family: Balance-bold;
}

#map {
  cursor: pointer;
}

p{
    font-family: Balance-light;
}

#map, #map0, #map1, #map2, #map3, #map4 {
	background-color: black;
}

html, body, #map,
a, a:visited, a:hover {
  color: rgb(68, 68, 68);
}

.color1  { background-color: #A50026; }
.color2  { background-color: #D73027; }
.color3  { background-color: #F46D43; }
.color4  { background-color: #FDAE61; }
.color5  { background-color: #FEE090; }
.color6  { background-color: #FFFFBF; }
.color7  { background-color: #E0F3F8; }
.color8  { background-color: #ABD9E9; }
.color9  { background-color: #74ADD1; }
.color10 { background-color: #4575B4; }
.color11 { background-color: #313695; }

#box {
  background-color: #000;
  color: #fff;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;

  position: absolute;

  overflow-y: auto;
  overflow-x: hidden;
}

#box-wrapper {
  margin-top: 5%;
  height:95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
	font-size: 40px;
  font-style: italic;
}

#box h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Balance-bold;
}

#box #info h2 {
  margin-top: 0;
}

.help {
  padding-left: 10px;
  color: #999;
  font-size: 90%;
  font-weight:normal;
}

h3 {
  margin: 0px 0;
  text-align: right;
}

#box h2:before,
#box h2:after {
  position:relative;
  top: -4px;
}


#box h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#logo{
    width: 100%;
    margin-top: 30px;
}

.logo-wrapper{
    width: 100px;
    height: 100px;
    margin-left: 125px;
}


.logo-img{
    width: 100px;
    height: auto;
}

#info{
  padding: 10px 25px;  
}

#info p a{
    color: #fff;
    text-decoration: none;
}

.info-button{
    font-family: Balance-bold;
    color: #FFF;
    text-decoration: none;
    background-color: #000;
    border: 2px solid #fff;
    padding: 5px;
}

.info-button:hover{
    background-color: #2f2f2f;
}

#info-box{
    color: #fff;
    background-color: #000;
    width: 300px;
    height: 80%;
    position: absolute;
    overflow-y: auto;
    overflow-x: scroll;
}

#maps{
    width: 100%;
}

#maps h2{
    padding-left: 25px;
}



.map-button {
  position: relative;
  width: 300px;
  height: 50px;
  font-family: Balance-bold;
  color: #FFF;
  text-decoration: none;
  background-color: #000;
  display: inline-flex;
  margin: 5px 25px;
  border: 2px solid #fff;
  
}

.map-button:hover{
    background-color: #2f2f2f;
}

.is-active{
    background-color: #2f2f2f;
}



#legend{
    padding: 0 25px;
    width: 300px;
}

#legend p{
    font-family: Balance-bold;
    margin-bottom: 0;
}

#legend ul{
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    
}

.colorbar{
  width: 296px;
  margin: 2px 5px 0 0;
  height: 40px;
  border: 2px solid #fff;
}

div[data-type=copper] {
    background: #003fff;
    background: -moz-linear-gradient(left, #003fff 0%, #00ffc1 72%); 
    background: -webkit-linear-gradient(left, #003fff 0%,#00ffc1 72%); 
    background: linear-gradient(to right, #003fff 0%,#00ffc1 72%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003fff', endColorstr='#00ffc1',GradientType=1 ); 
}

div[data-type=steel] {
    background: #ff0200;
    background: -moz-linear-gradient(left, #ff0200 0%, #ff3b00 25%, #ff7b00 50%, #ffc700 75%, #fff600 100%); 
    background: -webkit-linear-gradient(left, #ff0200 0%,#ff3b00 25%,#ff7b00 50%,#ffc700 75%,#fff600 100%);
    background: linear-gradient(to right, #ff0200 0%,#ff3b00 25%,#ff7b00 50%,#ffc700 75%,#fff600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0200', endColorstr='#fff600',GradientType=1 ); 
}

#data-box{
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    width: 300px;
    height: 40%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

#data{
    padding: 25px;
}

#waag img {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#legend table tr td {
  align: left;
  text-align: left;
}

td {
  white-space: nowrap
}

.data-table tr td {
  height: 1.4em;
  line-height: 1.4em;
}

.data-table {
  border-collapse: collapse;
}

.data-table tr td.key {
}

.data-table tr td.value {
  width: 99%;
  text-align: left;
  padding-left: 10px;

  overflow: hidden;
  text-overflow: ellipsis;

}

#waag{
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 48%;
  bottom: 20px;
}




.key {
  text-align: right;
}

#legend table tr td.key {
  width: 20px;
  border-style: solid;
  border-width: 1px ;
}

#legend table tr td.value {
  padding-left: 8px;
}

#legend table tr td.value.first {
  padding-right: 15px;
}

.leaflet-control-attribution {
  display: none;
}

.close.closed {
  background-image: url('{{ site.baseurl}}/images/i.png');
  left: 10px;
}

.close:before {
  display: block;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: -2px;
  width: 20px;
}

.close {
  background-image: url('{{ site.baseurl}}/images/x.png');
  background-position: center center;
  background-color: black;
  background-repeat: no-repeat;

  position: fixed;
  top: 10px;
  left: 315px;

  border: 2.27273px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 6px #000000, 1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), 1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 20px 0 0;
  width: 20px;
  z-index: 999;
}

.close-data.closed-data {
  background-image: url('{{ site.baseurl}}/images/i.png');
  right: 27px;
  bottom: 70px;
}

.close-data:before {
  display: block;
  right: 2px;
  line-height: 20px;
  position: absolute;
  bottom: 40%;
  width: 20px;
}

.close-data {
  background-image: url('{{ site.baseurl}}/images/x.png');
  background-position: center center;
  background-color: black;
  background-repeat: no-repeat;

  position: fixed;
  bottom: 36%;
  right: 20px;

  border: 2.27273px solid #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 6px #000000, 1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px 1.63636px 1.63636px rgba(0, 0, 0, 0.3), 1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3), -1.63636px -1.63636px 1.63636px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 20px 0 0;
  width: 20px;
  z-index: 999;
}

#sections {
	width: 100%;
	height: 100%;
}

.map-container {
	position: absolute;
	width: 50%;
	height: 50%;
}

.map-container .map-text {
  position: absolute;
	z-index: 999;
	width: 300px;

	margin: 20px;

  background-color: rgba(255, 255, 255, 0.95);

  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
}

.map-container h1 {
  margin: 0 6px;
}

.map-container p {
  margin: 0 6px 6px 6px;
}

#map-container1, #map-container3 {
	left: 0;
}

#map-container1, #map-container2 {
	top: 0;
}

#map-container2, #map-container4 {
	left: 50%;
}

#map-container3, #map-container4 {
	top: 50%;
}


/*info*/

#logo-info{
    width: 150px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-info-img{
    width: 150px;
    
}

.info-content{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    
}

.info-content p{
    font-family: Balance-light;
    color: #FFF;
    width: 100%;
    
}